//Add Color Palette
$orange: #fa6300;
$blue: #16274c;
$header_blue: #1f3f79;
$dark: #000000;
$light: #ffffff;
$primary-text: lighten($dark, 20);
$lighter-text: lighten($dark, 40);
$light-grey: lighten($dark, 90);

$navBackground : $blue;



$bodyBackground: #ffffff;
$pageBackground: #ffffff;
$typeDefault : $dark;


$link-blue: #004c87;

$navigation-linkfont: OpenSans, serif;
$font-greybody-text: OpenSans, serif;
$font-secondarypage-head-text: OpenSans-Bold, serif;
$font-banner-text: OpenSans, serif;


// ------------------------------- LAYOUT VARIABLES ------------------------------- //
// Susy SETUP ---------------------------------------------------------------------------
$max-pagesize: 3000px;
$total-columns: 12;
$column-width: 6em;
$gutter-width: .25;
$grid-padding: $gutter-width;
$page-pad: 5%;

$susy: (
	container: $max-pagesize,
	columns: $total-columns,
	gutters: $gutter-width,
	math: fluid,
	output: float,
	gutter-position: inside);	

$mini: 0 320px;
$mobile: 700px;
$mobile-portrait: 0px 530px;
$mobile-landscape: 530px 700px;
$tablet: 700px 800px;
$desktop: 800px 1200px;
$superdesktop: 1200px 1600px;
$blowout: 1600px 3200px;
$max-width: 1200px;
