.employees{
	@include clearfix;
	width: 100%;
	.head-shot{
		float: left;
		margin-right: 5%;
		width: 20%;
		img {
			
		}
		.caption{
			
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------
	.employees{
		@include breakpoint($mobile-portrait){
		@include clearfix;
		.head-shot{
			width: 40%;
			img {
				
			}
			.caption{
				
			}
		}
	}
	@include breakpoint($mobile-landscape){}
	@include breakpoint($tablet){}
	@include breakpoint($desktop){}
	@include breakpoint($superdesktop){}
}