#timeline{
	footer{
		.elements{
			display: block;
			.element{
				display: inline-block;
			}
		}
	}
}
footer{
	color: $light;
	background: $blue;
	@include clearfix;
	.layout{
		.orange-stripe{
			height: 25px;
			background: $orange;
		}
		.element{
			width: 25%;
			float: left;
			padding: 45px 0;
			font-size: 14px;
			border-right: 1px solid $lighter-text;
			padding-right: 2%;
			margin-left: 2%;
			line-height: 21px;
			&.last{
				border: 0;
			}
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------

footer{
	@include breakpoint(($mobile-portrait)){
		.layout{
			.element{
				height: auto !important;
				padding-top: 10px;
				line-height: 10px;
				&#footer-logo{
					width: 15%;
					background: transparent url("../images/footer-logo-sm.png") no-repeat scroll 0px 10px;
					height: 87px !important;
					padding-top: 0px;
					padding-bottom: 0;
					img {
						display: none;
					}
				}
				&#address-block{
					width: 37%;
				}
				&#contact-block{
					width: 37%;
				}
			}
		}
	}
	@include breakpoint(($mobile-landscape)){
		.layout{
			.element{
				height: auto !important;
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}
	@include breakpoint(($tablet)){  //tablet
		.layout{
			.element{
				height: auto !important;
				line-height: 15px;
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}
	@include breakpoint($desktop){
		.layout{
			.element{
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}
	@include breakpoint($superdesktop){
		.layout{
			.element{
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}

}