#timeline{
	footer{
		.elements{
			display: block;
			.element{
				display: inline-block;
			}
		}
	}
}
footer{
	color: $light;
	background: $blue;
	position: relative;
	@include clearfix;
	padding-bottom: 50px;
	.layout{
		.orange-stripe{
			height: 25px;
			background: $orange;
			.top-target {
				margin-left: 10%;
				a {
					display: block;
					line-height: 24px;
					color: $light;
					font-size: 70%;
				}
			}
		}
		.blue-stripe{
			height: 40px;
			background: $blue;
			border-bottom: 1px solid $grey;
		}
		.element{
			width: 23%;
			float: left;
			padding: 20px 0 0 0;
			margin-left: 0;
			line-height: 21px;
			margin-right: 0;
			&.last{
				border: 0;
			}
		}
		#footer-logo{
			margin-left: 10%;
			margin-right: 5%;
		}
		#social-block{
			display: none;
		}
	}
	.layout.with-social{
		#social-block{
			display: block;
			width: 105px;
			margin-right: 5%;
			position: relative;
			top: 10%;
		}
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------

footer{
	@include breakpoint(($mobile-portrait)){
		.layout{
			.element{
				height: auto !important;
				padding-top: 10px;
				line-height: 13px;
				&#footer-logo{
					width: 14%;
					background: transparent url("../images/footer-logo-sm.png") no-repeat scroll 0px 10px;
					height: 87px !important;
					padding-top: 0px;
					padding-bottom: 0;
					img {
						display: none;
					}
				}
				&#address-block{
					width: 35%;
					padding-bottom: 5px;
				}
				&#contact-block{
					width: 41%;
				}
			}
		}
		.layout.with-social{
			.element{
				&#footer-logo{}
				&#address-block{
					width: 40%;
				}
				&#contact-block{}
				&#social-block{
					position: absolute;
					top: 62px;
					right: 0;
				}
			}
		}
	}
	@include breakpoint(($mobile-landscape)){
		.layout{
			.element{
				width: 30%;
				height: auto !important;
				line-height: 13px;
				&#footer-logo{
					width: 9%;
					background: transparent url("../images/footer-logo-sm.png") no-repeat scroll 0px 10px;
					height: 87px !important;
					padding-top: 0px;
					padding-bottom: 0;
					img {
						display: none;
					}
				}
				&#address-block{
					margin-bottom: 10px;
				}
				&#contact-block{}
			}
		}
		.layout.with-social{
			.element{
				&#footer-logo{
					img {
						display: none;
					}
				}
				&#address-block{}
				&#contact-block{}
				&#social-block{
					margin: 0 auto;
				}
			}
		}
	}
	@include breakpoint(($tablet)){  //tablet
		.layout{
			.element{
				width: 30%;
				height: auto !important;
				line-height: 13px;
				&#footer-logo{
					width: 9%;
					background: transparent url("../images/footer-logo-sm.png") no-repeat scroll 0px 10px;
					height: 87px !important;
					padding-top: 0px;
					padding-bottom: 0;
					img {
						display: none;
					}
				}
				&#address-block{}
				&#contact-block{}
			}
		}
		.layout.with-social{
			.element{
				&#footer-logo{
					img {
						display: none;
					}
				}
				&#address-block{}
				&#contact-block{}
				&#social-block{}
			}
		}
	}
	@include breakpoint($desktop){
		.layout{
			.element{
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}
	@include breakpoint($superdesktop){
		.layout{
			.element{
				&#footer-logo{}
				&#address-block{}
				&#contact-block{}
			}
		}
	}

}