$header-height:192px;
header{
	max-height: $header-height;
	#headbar{
		height: 100%;
		position: relative;
		#orange-stripe{
			@include clearfix;
			background: $orange;
			#logo-container{
				max-width: 813px;
				min-width: 450px;
				float: left;
				margin-left: 3%;
			}
			#search-donate{
				@include transition(all 3s);
				height: 25px;
				margin-top: 75px;
				position: absolute;
				left: 70%;
				width: 300px;
				#donate {
					float: left;
				}
				#searchbox {
					@include google-search;
					float: right;
				}
			}
		}
		#pattern-stripe{
			height: auto;
			position: absolute;
			bottom: 0;
			line-height: 0;
			img {
				min-width: 700px;
			}
		}
	}
}

/*-----------------------------------------------------------------
	RESPONSIVE BREAKPOINTS BELOW
-----------------------------------------------------------------*/
header{
	@include breakpoint((0 920px)){
		#headbar{
			#orange-stripe{
				#logo-container{}
				#search-donate{
						left: 15px;
						margin-top: 6px;
						width: 100%;
					#donate {
						float: left;
					}
					#searchbox {
						float: right;
						margin-right: 5%;
					}
				}
			}
			#pattern-stripe{
				img {}
			}
		}
	}
}