$header-height:192px;
header{
	#headbar{
		#orange-stripe{
			@include clearfix;
			background: $orange;
			#logo-container{
				max-width: 813px;
				min-width: 450px;
				float: left;
				margin-left: 3%;
			}
			#search-donate{
				@include transition(all 3s);
				margin-top: 75px;
				position: absolute;
				left: 72%;
				width: 320px;
				#donate {
					float: left;
					img {
						position: relative;
						top: 3px;
					}
				}
				#searchbox {
					@include google-search;
					float: right;
				}
			}
		}
		.pattern-stripe{
			height: auto;
			position: absolute;
			bottom: 0;
			background: $orange;
			img {}
		}
	}
}

/*-----------------------------------------------------------------
	RESPONSIVE BREAKPOINTS BELOW
-----------------------------------------------------------------*/
header{
	@include breakpoint((0 920px)){
		#headbar{
			#orange-stripe{
				#logo-container{
					img {
						top: 14px;
						position: relative;
					}
				}
				#search-donate{
						left: 3%;
						margin-top: 6px;
						width: 100%;
					#donate {
						float: left;
					}
					#searchbox {
						float: right;
						margin-right: 5%;
					}
				}
			}
			#pattern-stripe{
				img {}
			}
		}
	}
}