$slide-menu-height: 315px;
$header-height: 48px;
$margin-top-height: 60px;
// the selected and hover state setup
.about .nav-item.about, .alumni .nav-item.alumni, .companies .nav-item.companies, .current .nav-item.current,
.fac_staff .nav-item.fac_staff, .programs .nav-item.programs, .prospective .nav-item.prospective, .services .nav-item.services{
	background: $light-blue;
}
nav .nav-item:hover{
	background: $hover-blue;
	a {
		text-decoration: none;
	}
}
nav{
	font-family: $navigation-linkfont;
	background: $blue;
	.layout{
		padding: 0;
		margin: 0;	
		.navlist{
			//@include display-flex;
			display: table;
			padding: 0;
			height: auto;
			@include justify-content(space-around);
			li.nav-item{
				height: 60px;
				display: table-cell;
				text-align: center;
				padding: 0px 20px;
				border-right: 1px solid $light;
				vertical-align: middle;
				a {
					font-size: 14px;
					color: $light;
					text-decoration: none;
					line-height: 14px;
					&:hover{
						text-decoration: none;
					}
					span{
						display: block;
					}
				}
			}
			li.nav-item.first{
				white-space: nowrap;
			}
			li.nav-item.last{
				border-right: none;
			}
		}
		.logo-item{
				position: relative;
				top: -33px;
				@include clearfix;
				width: 165px;
				height: 1px;
				cursor: pointer;
		}
	}
}
.mobile-icon {
	//display:none; /* Hide from browsers that don't support media queries */
	height: 50px;
	background: transparent !important;
	button{
		cursor:pointer;
		position:absolute;
		top: 3px;
		right: -6px;
		//background:url('/css/images/mobile-menu-icon.png') no-repeat 0 0 transparent;
		background: transparent;
		height: 40px;
		width: 50px;
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border: none;
		opacity: .7;
		&:focus {	
    		outline: none
    	}
	}
}
.slide-menu{
	display: inline-block;
	.mobile-icon {
		//visibility: hidden;
		display: block;
		.close-menu {
			//background:url('/css/images/mobile-menu-icon-close.png') no-repeat 0 0 transparent;
			background: transparent;
			top: 6px;
		}
	}
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
nav {
	&.slide-menu {
		position: fixed;
		z-index: 20;
		background-color: $blue;
		overflow: hidden;
		@include transition-duration(.75s);
		padding: 0;
		left: 0;
		width: 100%;
		#mobile-nav-logo{
			width: 55px;
			margin-left: 10px;
			margin-top: 5px;
			img {
				width: 100%;
			}
		}
		ul {
		    list-style-type: none;
		    margin: 0px;
		    margin-top: 0;
		    padding: 0;
		    li{
			    background: #2d3f5f;
			    margin: 0;
			    vertical-align: middle;
			    text-align: left;
			    border-bottom: 1px solid;
			    display: none;
				a {
					display: block;
					font-weight: 300;
					color: #fff;
				    line-height: 25px;
				    padding: 2px 13px;
				}
				&.mobile-icon{
					height: 0;
					border-bottom: none;
					display: block;
				}
			}
		}
	}
	&.push-menu-top {
	    top: 108px;
	    height: $header-height;
	    position: absolute;
	    background: transparent;
	}
	&.slide-menu-bottom {
	    top: ($slide-menu-height*-1);
	    height: $slide-menu-height;
	}
	&.slide-menu-bottom button.close-menu,
	&.push-menu-top button.close-menu{
	    display: none;
	    line-height: 25px;
	    margin: 0;
	    padding: 0 10px;
	}
	.toggle-push-top{
		padding: 0 10px;
		img {
			position: relative;
			top: -2px;
		}
	}
}


body.pmt-open nav.push-menu-top {
    //top: $header-height;
    top: 108px;
}
body.smb-open nav.slide-menu-bottom{
    bottom: 0;
}
body.pmt-open {
	nav.push-menu-top {
		height: $slide-menu-height;
		ul li {
			display: block;
		}
	}
	#wrapper{
		//top: ($slide-menu-height)-78; // using navigation animation here... If you turn off nav, then uncomment this line
	}
	button {
		&.toggle-push-top{
			display: none;
		}
		&.close-menu{
			display: block !important;
		}
	}

}

// RESPONSIVE LAYOUT --------------------------------------------------------------
$landscape-nav-height: 78px;
nav.navbar{
	@include breakpoint($mobile-portrait){
		display: none;
	}
}
nav.navbar{
	@include breakpoint(($mobile-portrait)){
		.layout{		
			.navlist{
					display: inline-block;
					float: right;
					height: 100px;
					line-height: 18px;
					bottom: 10px;
					position: none;
					transform: none;
					width: 100%;
					//background: #0a1a32;
					
				.nav-item {
				    width:100%;
				    float:none;
				    height: 0;
				    visibility: hidden;
				}
				.mobile-icon {
					display: block;
					width:40px;
					height: 40px;
					visibility: visible;
				}
				.nav-item {
					&.logo-item{
						visibility: none;
					}
					&.mobile-icon {
						display:block;
					}
				}
				
			}
		}
	}
	@include breakpoint(($mobile-landscape)){
		height: $landscape-nav-height;
		#mobile-nav-logo{
			display: block;
			margin-top: 2px;
		}
		.layout .navlist{
			.nav-item{
				height: $landscape-nav-height;
				padding: 0px 7px;
				&.logo-item{
					display: none;
				}
				a {
					font-size: 60%;
				}
			}
		}
	}
	@include breakpoint(($tablet)){  //tablet
		body.slide-menu {
			display: none;
		}
		.layout .navlist{
			li.nav-item{
				padding: 0 14px;
				a {
					font-size: 70%;
				}
			}
		}
	}
	@include breakpoint($desktop){
		.navlist{
			li.nav-item{
				padding: 0 14px;
				a {
				}
			}
		}
	}
	@include breakpoint($max-width){
		.navlist{
			.nav-item{
				a {
				}
			}
		}
	}
}

.slide-menu {
	@include breakpoint(($mobile-landscape)){
		display: none;
	}
	@include breakpoint(($tablet)){  //tablet
		display: none;
	}
	@include breakpoint($desktop){
		display: none;
	}
	@include breakpoint($max-width){
		display: none;
	}
	@include breakpoint($desktop){
		display: none;
	}
	@include breakpoint($superdesktop){
		display: none;
	}
}
