#social-block{
	@include clearfix;

	a {
		float: left;
		margin: 2% 9% 0px 0px;
		display: block;
		background: url('images/social-media-icons-sprite.jpg') 0 0 no-repeat transparent;
		height: 16px;
		width: 16px;
		img {
			
		}
	}
	a.last{
		margin-right: 0;
	}
	#twitter {
		background-position: -7px -5px;
		img {
			
		}	
	}
	#facebook {
		background-position: -40px -5px;
		img {
			
		}	
	}
	#linkedin {
		background-position: -82px -5px;
		img {
			
		}
	}
	#youtube {
		background-position: -122px -4px;
	}
}

// RESPONSIVE LAYOUT --------------------------------------------------------------

#social{
	@include breakpoint($mobile-portrait){}
	@include breakpoint($mobile-landscape){}
	@include breakpoint($tablet){}
	@include breakpoint($desktop){}
	@include breakpoint($superdesktop){}
}